*{
  margin: 0;
  padding: 0;
}
body{
  background-color: #495057;
}
.container{
  width: 95%;
  margin: 0 auto;
}
.collumns{
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}
@media (max-width: 700px){
  .collumns{
    flex-direction: column;
  }
}
.col{
  padding: 1.5%;
  color: #e9ecef;
}
.title{
  font-family: "Verdana", Times, serif;
  display: flex;
  background-color: #212529;
  color: #e9ecef;
  padding: 1%;
}
.title img{
  width: 2em;
  padding-right: 1%;
}
.col img{
  width: 70%;
  padding: 3%;
}

.gputable{
  padding-left: 3%;
  padding-right: 3%;
}

table {
  color: #e9ecef;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 0.3em solid #ADB5BD;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #6C757D;
}
